
<div class="hero-unit">
<div class="container">
  <h1>Hello, Welcome to My Blog Station.</h1>
  <p>This is a simple blog station that contains simple blogs information. It is build for testing the responsive css in Ruby on Rails</p>
  <p>
    <a class="btn btn-inverse btn-large">
      Learn more
    </a>
  </p>
  <br>
  <div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "art-artistic-wallpaper.jpg", :class=>"img-circle" %></div>
    <div class="item"><%= image_tag "Colorful-Art-Premium-Full-HD5.jpg", :class=>"img-circle" %></div>
    <div class="item"><%= image_tag "dragons-fantasy-art-HD-Wallpapers.jpg" , :class=>"img-circle"%></div>
  </div>
  <!-- Carousel nav -->
  
</div>
</div>
</div>